@media (min-width: 421px) and (max-width: 575px)
{

}
/* start small than sm */
@media (max-width: 575px)
{
    /*header start*/
    header form .btn{
        margin-top: 8px !important;
    }
    header form #lang{
        padding: 8px 0 !important;
    }
    header .navbar-brand{
        max-width: 50%;
    }
    /*header end*/

    /*    home start*/
    #home .home-content h1{
        font-size: 30px;
    }
    /*    home end*/
    
    /*    map start*/
    #map .map-contact{
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #map .map-contact p{
    font-size: 16px;
}
    #map .map-contact h2{
    font-size: 25px;
}
    /*    map end*/
}
/* end small than sm */

/* start sm */
@media (min-width: 576px) and (max-width: 767px)
{
    /*header start*/
    header form .btn{
        margin-top: 8px !important;
    }
    header form #lang{
        padding: 8px 0 !important;
    }
    /*header end*/
    /*    map start*/
    #map .map-contact{
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    /*    map end*/
}
/* end sm */

/* start md */
@media (min-width: 768px) and (max-width: 991px)
{
    /*header start*/
    header form .btn{
        margin-top: 8px !important;
    }
    header form #lang{
        padding: 8px 0 !important;
    }
    /*header end*/
}
/* end md */

/* start lg */
@media (min-width: 992px) and (max-width: 1199px)
{
    /*header start*/
    header form .btn{
        margin-top: 8px !important;
    }
    header form #lang{
        padding: 8px 0 !important;
    }
    /*header end*/
}
/* end lg */

/* start xl */
@media (min-width: 1300px)
{

}
/* end xl */
/* start xl */
@media (min-width: 1600px)
{

}
/* end xl */
/*media query end*/
